@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About</title>
</head>
<body>
    <br>founded in 2018
    <br>This webpage uses SmartDB to collect data
 <br>This webpage allow you to check for unusual activities.
</body>
</html>